@import "./../../styles/global.scss";

.dropdownEpisodes {
  width: 210px;
  position: relative;
  .dropdownEpisodes-btn {
    height: 60px;
    padding: 10px;
    border-radius: 4px;
    background: $light-grey;
    color: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: $font22px;
    .title {
      padding: 0 10px;
    }
  }

  .dropdownEpisodes-content {
    top: 110%;
    padding: 15px;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    color: $blue;
    width: 100%;
    cursor: pointer;
    .dropdownEpisodes-item {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;
    }
  }
}

@media screen and (max-width: 912px) {
  .dropdownEpisodes {
    width: 24vw;
  }
}

@media screen and (max-width: 600px) {
  .dropdownEpisodes {
    width: 38vw;
  }
}
