@import "../../styles/global.scss";

.pagination-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
      border: none;
      background-color: $white;
    }
  
    .pagination-ball{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $pagination;
      cursor: pointer;
    }
  
    .pagination-ball-center{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 0 16px;
      background-color: $pagination-ball-center;
    }
  }