@import "../../styles/global.scss";

.pagination{
  background: $white;
  gap: 10px;
  ul {
    display: flex;
    gap: 20px;
  }
  button {
    color: $blue;
    width: 150px;
    background-color: $white;
    border: 1px solid $blue;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
  }
}