@import "../../styles/global.scss";

.famousPlaces {
  &__more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font20px;
    padding: 80px 100px;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .famousPlaces {
    &__more {
      font-size: $font22px;
    }
  }
}
