//Colors
$dark-grey: #1C1C1C;
$darker-grey: #2C2C2C;
$medium-grey: #3C3E44;
$grey: #24282F;
$lighter-grey: #BEBEBE;
$light-grey: #EEEEEE;
$white: #FFFFFF;
$blue: #12B0C9;
$black: #000000;
$green: #1D9D2A;
$orange: #DE9B38;
$red: red;
$pagination: #FFFFFF;
$pagination-ball-center: red;

//Font-size
$font44px: 2.75rem;
$font28px: 1.75rem;
$font25px: 1.563rem;
$font24px: 1.5rem;
$font22px: 1.375rem;
$font20px: 1.25rem;
$font18px: 1.125rem;
$font16px: 1rem;
$font14px: 0.875rem;
$font12px: 0.75rem;