//Colors
$dark-grey: #1C1C1C;
$darker-grey: #2C2C2C;
$medium-grey: #3C3E44;
$grey: #24282F;
$lighter-grey: #BEBEBE;
$light-grey: #EEEEEE;
$lighter-grey: #F2F2F2;
$border-grey: #EBEBEB;
$white: #FFFFFF;
$blue: #12B0C9;
$black: #000000;
$green: #1D9D2A;
$orange: #DE9B38;
$red: red;
$grey-title: #A8A8A8;

//Font-size
$font44px: 2.75rem;
$font28px: 1.75rem;
$font27px: 1.688rem;
$font25px: 1.563rem;
$font24px: 1.5rem;
$font22px: 1.375rem;
$font20px: 1.25rem;
$font18px: 1.125rem;
$font16px: 1rem;
$font14px: 0.875rem;
$font12px: 0.75rem;

.Alive {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $green;
    margin-right: 3px;
  }
  
  .Dead {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $red;
    margin-right: 3px;
  }
  
  .unknown {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: $light-grey;
    margin-right: 3px;
  }