@import "../../styles/global.scss";

.searchCharacters {
  background: $grey;
  .searchCharacters__contant {
    display: grid;
    grid-template-columns: 1fr 2fr;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.14));
    border: 0.1px solid $medium-grey;
    border-radius: 4px;
    .searchCharacters__image {
      height: 150px;
      img {
        max-height: 100%;
      }
    }
    .searchCharacters__information {
      font-size: $font12px;
      padding: 12px;
      background: $medium-grey;
      color: $white;
      h1 {
        padding: 0;
        font-size: $font16px;
        color: $white;
      }
      .searchCharacters__state {
        display: flex;
      }
    }
  }
}
